body{ background-color: #fff!important; font-size: 1rem;}
.biaoti{ width: 92%; text-align: center; font-size: 1.1rem; margin:4%;}
.neirong{ width: 92%; margin: 4%; line-height: 1.8rem; color: #5C5C5C; font-size: 0.9rem; border-bottom: 1px solid #E2E2E2; padding-bottom: 1rem;}
.neirong2{ width: 92%; margin: 4%; line-height: 1.8rem; color: #5C5C5C; font-size: 1.1rem; }
.zhifu{ width: 92%; margin: 4%; overflow: hidden; font-size: 0.9rem;}
.zhifu li{ list-style: none;}
.zhifu li a{ float: left; width: 25%; color: #5C5C5C;}
.zhifu li a span{ margin-right: 0.2rem;}
.zhifu2{ width: 92%; margin: 4%; overflow: hidden; font-size: 0.9rem;}
.zhifu2 li{ list-style: none;float: left; width: 25%; color: #5C5C5C;}
.zhifu2 li span{ margin-right: 0.2rem;}
.xuanze{ overflow-x: scroll; white-space: nowrap; display: flex; overflow-y: hidden; margin-left: 2%; }
.xuanze::-webkit-scrollbar {display: none;}
.xianjia{ float: left;  text-align: center; margin-right: 2%; border: 1px solid #ccc; border-radius: 0.4rem;}
.xianTop{ width: 120px;  padding: 0.6rem 0;}
.xianjiadian{ border-color:#fff!important;border-radius: 0.4rem;}
.xianTodian{background-color: #FFFA7C;}
.xianBodian{background-color: #FFFEE0;}
.xianBot{width:120px; }
.xianBot p{ line-height: 1.6rem; line-height: 2rem; font-size: 0.9rem;}
.p1{ text-align: left; text-indent: 1rem;}
.p2{ font-weight: bold; color: #f00; font-size: 1.5rem!important; margin-bottom: 0.6rem;}
.p3 span{ text-decoration: line-through;}
.jine{width: 92%; margin: 4%; overflow: hidden;}
.jineUl{ width: 100%; overflow: hidden;}
.jineUl li{ list-style: none; width: 50%; float: left; overflow: hidden; padding: 0.4rem 0;}
.jineUl li div{ width: 50%; float: left; margin: 0!important; padding: 0!important;}
.yuan{ width: 50%; border: #A9A9A9 1px solid; margin-right: 0.4rem;}
table{ width: 50%; float: left; font-size: 0.9rem; text-align: center; line-height: 1.6rem; overflow: hidden;  border-collapse: collapse;}
table tr{ border-bottom: 1px solid #E2E2E2;}
table td{ padding: 0.8rem 0;}
.lan{color: #435BD5;}
.hong{ color: #D20000;}
