body{
	background-color: #EDEDED;
}
/*顶部*/
.public-header{
	height: 3rem;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.2rem;
    position: absolute;
    top: 0;
    margin: 0;
    z-index: 1;
    backface-visibility: hidden;
    background: #00aff0;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    
}
.public-header-left{
	position: absolute;
    left: 0;
    padding-left: .3rem;
    height: 3rem;
    line-height: 3rem;
    z-index: 2;
    color: #0125C9;
}
.public-header .title{
	background-color: ;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 3rem;
    line-height: 3rem;
    color: #004090;
    text-align: center;
    position: absolute;
    display: block;
    width: 100%;
    padding: 0;
    top: 0;
    left: 0;
    z-index: 1;
}
.public-header-right{
	position: absolute;
    right: 10px;
    padding-right: .3rem;
    height: 3rem;
    line-height: 3rem;
    z-index: 2;
    font-size: .7rem;
}
.public-header-right a{
	color: #004090;
	font-size: 1rem;
	margin-top: .6rem;
}
/*头部end*/

/*内容*/
.content{
	margin-top: 3.3rem;
	width: 100%;
}
.plate{
	background-color: white;
	margin: 1px auto;
	padding: 15px;
	color: #000;
}
.plate1{
	margin: 5px auto;
}
.plate>div{
	display: inline-block;
}
.plate i{
	float: right;
}
.plate-left{
	width: 80%;
}
.plate-right{
	float: right;
	/*padding-right: 20px;*/
}
.mdui-switch input[type=checkbox]:checked+.mdui-switch-icon:before{
	background-color: white;
}
