body{
	background-color: #EDEDED;
}
/*顶部*/
.public-header{
	height: 3rem;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.2rem;
    position: absolute;
    top: 0;
    margin: 0;
    z-index: 1;
    backface-visibility: hidden;
    background: #00aff0;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    
}
.public-header-left{
	position: absolute;
    left: 0;
    padding-left: .3rem;
    height: 3rem;
    line-height: 3rem;
    z-index: 2;
    color: #0125C9;
}
.public-header .title{
	background-color: ;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 3rem;
    line-height: 3rem;
    color: #004090;
    text-align: center;
    position: absolute;
    display: block;
    width: 100%;
    padding: 0;
    top: 0;
    left: 0;
    z-index: 1;
}
.public-header-right{
	position: absolute;
    right: 10px;
    padding-right: .3rem;
    height: 3rem;
    line-height: 3rem;
    z-index: 2;
    font-size: .7rem;
}
.public-header-right a{
	color: #B71C1C;
	font-size: 1rem;
	margin-top: .6rem;
}
/*头部end*/

/*内容*/
.content{
	margin-top: 3.2rem;
	background-color: white;
	height: 100%;
	width: 100%;
}

/*搜索框*/
.search{
	width: 100%;
	height: 50px;
	position: relative;
	line-height: 50px;
	vertical-align: middle;
	border-bottom: 1px solid lightgray;
}
.search-input {
	height: 25px;
	width: 70%;
	border: none;
	margin-left: 5%;
	padding-left: 10%;
	padding-right: 10%;
	background-image: url(../image/huisearch.png);
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: 5px center;
}
.search input::-webkit-input-placeholder {
	color: #C8C8C8;
}
.search-delete {
	position: absolute;
	right: 5%;
	z-index: 5;
	background-image: url(../image/delete1.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 25px 25px;
	top: 12px;
	width: 30px;
	height: 30px;
}
/*搜索框end*/