body{ background-color: #fff!important; font-size: 1rem;}
form{ width: 100%; overflow: hidden;}
.xuanze{ float: left; width: 48%; margin: 1%;}
.xuanze input{ display: none;}
.xuanze label{ display: inline-block; width: 100%;  position: relative;z-index: 100;}
.xuanze label img{ width: 100%; background-color: #fff;}
[class*="icheck-"] > input:first-child + label::before, [class*="icheck-"] > input:first-child + input[type="hidden"] + label::before{
    top: 0;
    right: 0;
}
button{ background-color: #00AFF0; border: none; width: 100%; padding: 2% 0; color: #fff; position: fixed; bottom: 0; left: 0;}
body,html{
        height: 100%;
        overflow: auto;
    }
    html{ background-color: hsla(0,0%,96%,1.00);
    }
    body{
        background: none;
    }
    section{
        padding-top: 3rem;
        font-size: 0.9rem;
    }

    .btn{
        position: relative;
        z-index: 10;
        padding: 0.5rem;
        height: 1.6rem;
        line-height: 1.6rem;
        margin: auto;
        font-size: 0.8rem;
        color: #fd1142!important;
        border:1px solid  #fd1142;
        border-radius:0.2rem ;
    }
    .btn img{
        display: inline-block;
        width: 0.75rem;
        margin-left: 0.1rem;
    }


    /*截图上传页面*/
.clipbg{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
}
.clipbg #clipArea{
    width: 100%;
    height: 100%;
    margin: auto;

}
.clipbg .footer{
    width: 90%;
    position: fixed;
    left: 5%;
    bottom: 0px;
    text-align: center;
}
.clipbg dl{
    background: #ffffff;
    border-radius: 0.4rem;
    overflow: hidden;
    margin-bottom: 0.6rem;
}
.clipbg dd{
    position: relative;
    height: 2.25rem;
    line-height: 2.25rem;
    border-bottom:1px solid #999999 ;
}
.clipbg .back{
    height: 2.25rem;
    line-height:2.25rem;
    border-radius: 0.4rem;
    margin-bottom: 0.4rem;
    background: #ffffff;
}
.clipbg dd input{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 11;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity: 0;
    opacity: 0;
}