body{ background-color: #fff!important; font-size: 1rem;}
.biaoti{ width: 92%; text-align: center; font-size: 1.1rem; margin:4%; height: 2rem; line-height: 2rem;}
.biaoti img{width: 1.4rem;height: 1.4rem; border-radius: 50%; vertical-align: middle; display: inline-block; margin-right: 0.2rem; margin-bottom: 0.2rem;}
.neirong{ width: 92%; margin: 4%; line-height: 1.8rem; color: #5C5C5C; font-size: 0.9rem;}
.neirong2{ width: 92%; margin: 4%; line-height: 1.8rem; color: #5C5C5C; font-size: 1.1rem; }
.zhifu{ width: 92%; margin: 4%; overflow: hidden; font-size: 0.9rem;}
.zhifu li{ list-style: none;}
.zhifu li a{ float: left; width: 25%; color: #5C5C5C;}
.zhifu li a span{ margin-right: 0.2rem;}
.zhifu2{ width: 92%; margin: 4%; overflow: hidden; font-size: 0.9rem;}
.zhifu2 li{ list-style: none;float: left; width: 25%; color: #5C5C5C;}
.zhifu2 li span{ margin-right: 0.2rem;}
.xuanze{ overflow-x: scroll; white-space: nowrap; display: flex; overflow-y: hidden; margin-left: 2%; }
.xuanze::-webkit-scrollbar {display: none;}
.xianjia{ float: left;  text-align: center; margin-right: 2%; border: 1px solid #ccc; border-radius: 0.4rem;}
.xianTop{ width: 120px;  padding: 0.6rem 0;}
.xianjiadian{ border-color:#fff!important;border-radius: 0.4rem;}
.xianTodian{background-color: #FFFA7C;}
.xianBodian{background-color: #FFFEE0;}
.xianBot{width:120px; }
.xianBot p{ line-height: 1.6rem; line-height: 2rem; font-size: 0.9rem;}
.p1{ text-align: left; text-indent: 1rem;}
.p2{ font-weight: bold; color: #f00; font-size: 1.5rem!important; margin-bottom: 0.6rem;}
.p3 span{ text-decoration: line-through;}
.riqibox{overflow-x: scroll; white-space: nowrap; display: flex; overflow-y: hidden; margin: 2%;}
.riqibox::-webkit-scrollbar { display: none;}
.riqili input{ display: none;}
.riqili input:checked+label div{ border-color: #fff;}
.riqili input:checked+label div .xianTop{background-color: #FFFA7C;}
.riqili input:checked+label div .xianBot{background-color: #FFFEE0;}
.riqili{ float: left;  text-align: center; margin-right: 2%;}
.anniu{background-color: #019FE8; padding:0.3rem 0.6rem; border: none; color: #004090; border-radius: 0.4rem; font-size: 1rem;}
